@import "~react-vis/dist/style";

html, body {
  height: 100%;
}

body {
  margin: 0;
}

.App {
  text-align: center;
  background-color: #282c34;
  color: white;
  height: 100vh;
}

.App-header {
  display: flex;
  font-size: 14px;
  color: white;
}

.container {
  text-align: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
